

  .clearfix { display: inline-block; } 
  /* start commented backslash hack \*/
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
  /* close commented backslash hack */
  
  body{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .gameBoard{
    max-width: 100%;
    margin: 0 auto;
      -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
  }
  
  
  .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0px;
        content: " ";
        clear: both;
        height: 0;
  
  } 
  
   html {
      font-size: 8px;
  }