* {
    box-sizing: border-box;
  }
  
body{
    padding: 1rem;
    background-image: url("../background-images/bg_image_11.jpg");
    background-color: rgb(253, 252, 250);
    background-size: cover;
}


.gameBoard{

        border: 2px solid rgb(243, 237, 237); 
        background-color: #0c0c0c75;
        color: #F4F4F4;
        width: 100%;
        z-index: 1;
        position: relative;
        font-family: Garamond, Times, "Times New Roman", serif;
        padding: 10px;
    }
    
h2{
    font-size:bold;
    text-align: center;
    font-size: 44px;
    opacity: 1;
    color: rgb(238, 235, 235); 
    font-family: Garamond, Times, "Times New Roman", serif;
}

.gameBoard hr{
        border:1px solid rgb(102, 96, 96);
    }

.gameBoard .cbPanel{
        text-align: center;
        margin-left: auto;
        width: 100%; 
        font-size: 22px;
}

.changeBet{
        width: 50% ; 
        margin: 0 auto;
}



.button {
    float: left;
    margin-right: 6%;
    height: 5rem;
    width: 45%;
    background-color: #0000009c;
    color: #474444ec;
    border: 2px solid #44414186;
    line-height: 5rem;
    border-radius: .5rem;
    text-align: center;
    font-size: 3rem;
    font-family: Garamond, Times, "Times New Roman", serif;
  }
  
.button.lil {
            font-size: 28px ;
            width: 19%;
  }
  
.button.big {
        font-size: 28px ;
        width: 50%;
  }

.button.first{
        font-size: 28px;
   
  }

.button.last {
        font-size: 28px;
        margin-right: 0;
  }
  
.button:hover {
        background: #373737;
        color: #f7f7f7;
        border: 2px solid #ebe1e1;
        cursor: pointer;
  }
  
  
.buttons {
    width: 50%;
    margin:0 auto;
    height: 5rem;
  }

  

.changeBet {
    margin-bottom: .5rem;
  }
  
.fullbar {
    width: 100%;
  }
  
#reset,#startover{
    width: 100%;
  }
  
.computer-value {
        text-align: right;
        font-size: 1.5rem;
  }
    
.player-value {
        text-align: left;
        font-size: 1.5rem;
  }  

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
  }
  
  
.title div {
    float: left;
    width: 50%;
  }

.result {
    text-align: center;
    font-size: 5rem;
  }

.hide {
    display: none;
  } 

  
.card-section {
    float: left;
    width: 50%;
    height: 10rem;
 }


.single-left {
    background: #f3f2f2;
    color: #373737;
    float: left;
    width: 6.5rem;
    height: 10rem;
    border: 2px solid #373737;
    border-radius: .5rem;
    margin-left: -4.5rem;
    padding: .35rem;
  } 
  
.facevalue {
    font-size: 1.35rem;
  }
  
.first {
    margin-left: 0;
    margin-left: 0;
  }
   
.red {
    color: #e75757;
  }
  

@media screen and (min-width: 401px) {
    html {
      font-size: 10px;
    }
  }
  
@media screen and (min-width: 590px) {
    html {
      font-size: 13px;
    }
  }
  
@media screen and (min-width: 774px) {
    html {
      font-size: 16px;
    }
  }



